# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.pdb
Debug
Release
*.user
*.suo
*.ilk
*.exe
*.dll
x64
*.aps
*.tlog
*.res
*.log
*.opensdf
*.sdf